@model IEnumerable<ProjetoFinalJulia.Models.Colaborador>

@{
    ViewData["Title"] = "Index";
}

<h1>Colaborador</h1>

<p>
    <a class="btn-criar" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoColaborador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.NomeCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoColaborador.TipoColaboradorNome)
            </td>
            <td>
                <a class="botao" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="botao" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="botao" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
