@model ProjetoFinalJulia.Models.ProcedimentoRealizado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Procedimento Realizado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procedimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedimento.ProcedimentoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.ColaboradorNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalRealizacao.LocalRealizacaoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalRealizacao.LocalRealizacaoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRealizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoRealizacao)
        </dd>
    </dl>
</div>
<div>
    <a class="a" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="a" asp-action="Index">Voltar para a lista</a>
</div>
